@using Zeeble.Shared.Entities
@{
    ViewData["Title"] = "Counselling";
    var rows = ViewData["Rows"] as IEnumerable<Enquiry>;    
}
@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
}


<div class="container-fluid">
    <h3 class="mb-2">Admission Counselling</h3>
    <div class="row mt-3">
        
        <div class="col-12 p-1">
            <a href="~/admit" class="btn btn-dark float-end" title="New Addmission">+</a>
        </div>

        <div class="col-12 mt-4">
            <table id="datatableCounselling" class="table table-striped" style="width:100%">
                <thead>
                    <tr>                        
                        <th>Student Name</th>
                        <th>Parent Mobile</th>
                        <th>Student Mobile</th>
                        <th>School Name</th>                        
                        <th>Enquiry Date</th>                                                
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var row in rows)
                    {
                        <tr>
                            <td>@row.FullName</td>
                            <td>@row.ParentMobile</td>
                            <td>@row.StudentMobile</td>
                            <td>@row.SchoolName</td>
                            <td>@row.CreatedOn</td>                                                        
                            <td align="right">
                                <a href="~/admit?enquiryId=@row.Id" class="btn btn-sm btn-primary"><i class="fa-solid fa-graduation-cap"></i></a>
                                <a href="~/counselling/delete?Id=@row.Id" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
 
@section Scripts {

    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script type="text/javascript">
        activeAdminMenu('#counselling');
        new DataTable('#datatableCounselling', {
            ordering: false,
            pageLength: 25

        });

    </script>
}
