@using Zeeble.Shared.Entities
@{
    ViewData["Title"] = "Enquiry";
    var rows = ViewData["Rows"] as IEnumerable<Enquiry>;
    var standardOptions = ViewData["StandardRows"] as IEnumerable<Standard>;    
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
}

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 p-2">
            <h4 class="mb-3">Add Enquiry</h4>
            <div class="card enquiry-form-bg">
                <div class="card-body">
                    <form asp-controller="enquiry" asp-action="add" method="post">
                        <div class="row mb-3">
                            <div class="col-md-4 mt-3">
                                <input class="form-control" id="inputFullName" maxlength="250" required type="text" autocomplete="off" placeholder="Student Full Name *" name="FullName">

                            </div>
                            <div class="col-md-4 mt-3">
                                <input class="form-control" id="inputParentMobile" placeholder="Parent Phone Number *" autocomplete="off" maxlength="10" required type="text" name="ParentMobile">
                            </div>

                            <div class="col-md-4 mt-3">
                                <input class="form-control" id="inputStudentMobile" placeholder="Student Phone Number" autocomplete="off" maxlength="10" type="text" name="StudentMobile">
                            </div>

                            <div class="col-md-4 mt-3">
                                <select class="form-select" id="selectStandardId" name="StandardId" required>
                                    <option value="">Select Standard *</option>
                                    @foreach (var standard in standardOptions)
                                    {
                                        <option value="@standard.Id">@standard.Name</option>
                                    }
                                </select>
                            </div>


                            <div class="col-md-4 mt-3">
                                <input type="text" placeholder="Enter School Name *" class="form-control" autocomplete="off" name="SchoolName" />
                            </div>

                            <div class="col-md-4 mt-3">
                                <input class="form-control " id="inputAddress" placeholder="Enter Address" autocomplete="off" maxlength="150" type="text" name="Address">
                            </div>

                        </div>

                        <div class="mt-4 mb-0">
                            <button type="submit" class="btn btn-dark float-end">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">

            <table id="datatableEnquiry" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Parent Mobile</th>
                        <th>Student Mobile</th>

                        <th>Enquiry Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var row in rows)
                    {
                        <tr>
                            <td>@row.FullName</td>
                            <td>@row.ParentMobile</td>
                            <td>@row.StudentMobile</td>
                            <td>@row.CreatedOn</td>
                            <td>Pending</td>
                            <td align="right">
                                <a href="~/enquiry/delete?id=@row.Id" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts {

    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script type="text/javascript">
        activeAdminMenu('#enquiry');
        new DataTable('#datatableEnquiry', {
            ordering: false
        });
    </script>
}
